.step{
    width: calc(50% - 40px);
    position: relative;
    padding-bottom: 60px;
}
.step-title{
    font-size: 1.3rem;
    line-height: 1.3rem;
    display: block;
}

.step input{
    padding: 5px 0;
    border: 0;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 1rem;
    margin-top: 40px;
    width: 100%;
    
}

.step input:focus{
    border-bottom: 2px solid var(--violet);
}

.step label{
    display: block;
    transform: translate(0, -1rem);
    line-height: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
    pointer-events: none;
    transition: .2s;
    color: rgb(96, 96, 96);
}

.step input:focus + label, 
.step input:not(:placeholder-shown) + label{
    transform: translate(0, -2.5rem);
    font-size: .8rem;
}

.step-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 0;
}
.step-buttons button{
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: var(--violet);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    transition: .2s;
}
.step-buttons button:disabled{  
    background-color: rgba(84, 68, 255, 0.6);
    cursor:not-allowed;
}
.step-previous-button{
    background-color: grey !important;
}
.step-buttons button:focus:not(:disabled),
.step-buttons button:hover:not(:disabled){
    box-shadow: 0 3px 3px 0 black;
    transform: translateY(-4px);
}
.step-birth-date{
    display: block;
    margin-top: 30px;
}
.step-birth-date p{
    font-size: 1.1rem;
}
.step-birth-date span{
    display: grid;
    grid-template-columns: 20% 0 20% 0 40% 0;
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 0px;
}
.step-birth-date span input{
    width: 100%;
    margin-top: 20px;
}
.step-birth-date label{
    transform: translate(-4.3rem, 2rem);
}
.step-birth-date label[for="year"]{
    transform: translate(-7.8rem, 2rem);
}
.step-birth-date span input:focus + label, 
.step-birth-date span input:not(:placeholder-shown) + label{
    transform: translate(-4.3rem, 1rem);
    font-size: .8rem;
}
.step-birth-date span input[name="year"]:focus + label, 
.step-birth-date span input[name="year"]:not(:placeholder-shown) + label{
    transform: translate(-7.8rem, 1rem);
    font-size: .8rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.step-checkbox{
    display: flex;
    margin-top: 30px;
    gap:10px;
    flex: 50px 1fr;
    align-items: flex-start;
}
input[type=checkbox]{
    -webkit-appearance: none;
    margin-top: 4px;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--grey);
    outline: none;
    border: none;
    cursor: pointer;
    transition: background .3s;
}
input[type=checkbox]:focus{
    background-color: gray;
    border: none;
}
input[type=checkbox]:after{
    content: '';
    position: absolute;
    top:50%;
    left: 30%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: white;
    transition: left .3s;
}
input[type=checkbox]:checked{
    background-color: var(--violet);
}
input[type=checkbox]:checked:focus{
background-color: rgb(13, 3, 121);              
}
input[type=checkbox]:checked::after{
    left: 70%;
}
.step input[type=checkbox]:focus + label, .step input[type=checkbox]:not(:placeholder-shown) + label {
    transform: unset;
}
input[type=checkbox] + label{
    transform: unset;
    line-height: unset;
    max-width: calc(100% - 60px);
}

.invalid-input{
    border-bottom: 2px solid red !important;
}
.valid-input{
    border-bottom: 2px solid var(--green) !important;
}
.step-summary-text{
    margin-top: 10px;
    font-size: 18px;
    color: rgb(87, 87, 87);
}

@media (max-width: 700px) {
    .step{
        width: 100%;
    }
}