.progress{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    padding-inline: 40px;
}
.progress-item{
    position: relative;
    flex: 1;
}
.progress-item::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 60px;
    width: calc(100% - 80px);
    height: 2px;
    background-color: var(--grey);
}
.progress-item:last-child{
    flex: none;
}
.progress-item:last-child::after{
    display: none;
}
.progress-item.completed::after, .progress-item.completed .progress-number{
    background-color: var(--green);
    color: white;
}
.progress-number{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: var(--grey);
    color: grey;
    border-radius: 50%;
}
.progress-item.active .progress-number{
    background-color: var(--violet);
    color: white;
}
[item-text]::after{
    content: attr(item-text);
    width: 120px;
    position: absolute;
    height: 50px;
    bottom: -60px;
    left: -40px;
    text-align: center;
    color: grey;
}
.progress-item.completed [item-text]::after{
    color: var(--green)
}
.progress-item.active [item-text]::after{
    color: black;
}